/* DEFAULT SETTINGS */

html {
  font-size: 62.9%;
  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #008889;
  margin: 0;
 /* font-family: 'Crimson Text', serif; */
font-family: 'Karla', sans-serif;
/*font-family: 'Girassol', cursive;*/
}

.homepage-container {
   overflow-x: hidden;
}


/* Slide out Navigation Menu */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-image: url("/images/wooden-texture.png");
  background-size: 100% 300px;
  background-color: #A23E34;
  overflow-x: hidden;
  transition: 0.5s;
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 3rem;
  color: #FFF;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

/* Nav */

nav {
  background-color: #008889;
  background-image: url("/images/wooden-texture.png");
  background-size: 100% 400px;
  box-shadow: 4px 3px rgba(0,0,0,0.2);
  width: 100%;
  position: fixed;
}

.container {
  margin: 0px 65px;
  padding: 20px 0px;
}

.columns {
  display: table;
  width: 100%;
}

.col {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

.logo-wrapper img {
  width: 155px;
  height: 88px;
  vertical-align: middle;
  box-shadow: 5px 5px rgba(0,0,0,0.3);
}
span {
  font-size: 6rem;
  float: right;
}


@media (max-width: 808px) {
  .container {
    margin: 0px 30px;
    padding: 10px 0px;
  }
  .logo-wrapper img {
    width: 105px;
    height: 77px;
    }
  }

@media (max-width: 480px) {
  span {
  font-size: 3rem;
}

  .container {
    margin: 0px 10px;
    padding: 10px 0px;
    text-align: center;
    }
  }


  /* Service page */


  /* main image
    scroll animations
    */
.services {
 position: relative;
 overflow: hidden;

}

.services-container {
  margin: 0px 65px;
  padding: 125px 0px;
}

.service-banner {
  background-image: url("/images/service-main-image.jpeg");
  background-repeat: no-repeat;
  background-size: 100% 700px;
  width: 100%;
  height: 700px;
}

.service-image-overlay {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.3);
  z-index: 2;
}

h4 {
  font-size: 3.6rem;
  padding: 20px;
  color: #A23E34;
/*ont-family: 'Crimson Text', serif;
font-family: 'Karla', sans-serif;*/
font-family: 'Girassol', cursive;
}

.content {
  position: absolute;
  top: 20%;
  left: 10%;
  text-align: center;
  font-size: 3.2rem;
}

/* FOOTER */

footer {
  background-color: #008889;
  background-image: url("/images/wooden-texture.png");
  background-size: 100% 500px;
  width: 100%;
}

.footer-container {
  margin: 0px 65px;
  padding: 40px 0px;
}

.footer-items {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 1.4rem;
  margin: 0px 5px;
}

.footer-items:after {
  content: "|";
  margin: 0px 8px;
}

.footer-columns {
  display: table;
  width: 100%;
}

.footer-col {
  display: table-cell;
  vertical-align: middle;
  width: 50%;
}

p {
  font-size: 1.5rem;
}

.logo-wrapper-footer img {
  padding: 15px;
  width: 65px;
  height: 40px;
  box-shadow: 2px 3px rgba(0,0,0,0.3);

}

.logo-wrapper-secondary img {
  text-align: center;
  width: 55px;
  height: 40px;
}



@media(max-width: 808px) {

.footer-col {
   display: block;
    width: 100%;
  }

.footer-items {
  cursor: pointer;
  display: inline-block;
  color: #fff;
  font-size: 1.2rem;
  margin: 0;
}

.footer-items:after {
  content: "/";
  margin: 0px 3px;
}

}

.boarding-columns {
  display: table;
  width: 100%;
}

.boarding-col {
  display: table-cell;
  vertical-align: middle;
}

.col-left {
  position: relative;
  background-color: #EEEEEE;
  width: 60%;
  border-top: 10px solid #008889;
}

.col-right {
  position: relative;
  width: 40%;
}
.boarding-img {
  position: absolute;
  bottom: 30%;
  right: 40%;
  height: 180px;
  width: auto;
}

.service-img {
  top: 0;
  right: 0;
  width: 100%;
  height: auto;
  border-left: 10px solid #008889;
}
.boarding-listing {
  padding: 40px 20px;
}

.boarding-listing  li {
  font-size: 1.6rem;
  color: #000;
  padding-bottom: 15px;
  display: block;
}

.content h1 {
  font-family: 'Girassol', cursive;
}

/* Daycare */

.daycare {

}

.daycare-container {

}

.daycare-columns {
  display: table;
  width: 100%;
}

.daycare-col {
  display: table-cell;
  vertical-align: middle;
}

.daycare-col-left {
  position: relative;
  width: 40%;
  border-top: 10px solid #008889;
}

.daycare-col-right {
  position: relative;
  background-color: #EEEEEE;
  border-top: 10px solid #A23E34;
  width: 50%;
}

.daycare-listing {
  padding: 20px 40px;
}

.daycare-listing h2 {
  text-align: right;
}


.daycare-listing  li {
  font-size: 1.6rem;
  color: #000;
  text-align: right;
  padding-bottom: 15px;
  display: block;
}

h3 {
  text-align: right;
}
